/* Set the container to take the full height of the page */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Create a container for the chat area */
#chatcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  overflow: hidden;
}

#currentNickname{
  /*position: absolute;*/
 text-align: center;
  word-break: break-all;
scroll-snap-type: mandatory;
  padding-top: 1px;
  padding-bottom: 1px;

}

/* Style the chat history */
#chathistory{
  flex: 2;
  /*overflow-y: auto;*/
  word-break: break-all;
  padding-top: 1px;
  padding-bottom: 1px;

}

/* Style the chat bar */
#chatbar{
  background-color: #fff;
  padding: 10px;

}
