/* Set a background color for the whole page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  /*min-height: 100vh;*/
  background-color: brown;

}

/* Style the container for the header, content, and footer */
#container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
}

/* Style the main content area (above the footer) */
#content {
  flex: 1;

  padding: 20px;
  background-color: #fff;
  word-break: break-all;

}


/* Media Query for responsiveness */
@media (max-width: 768px) {
  /* For smaller screens, adjust the layout */
  #content {
    padding: 10px;
  }
  #footercontent {
    padding: 5px;
  }
}

/*
#container{

}
#footercontent{
  min-height: 50px;
  width: 100;
  bottom: 0;

}
#content{
  background-color: aqua;

}
#headercontent{

}

*/