<div class="container mt-5"> <!-- mt-5 heisst margin top 5--> 
    <p id="messageDiv" class="mt-2">{{ message }}</p>
    <div id="outputDiv">{{ outputText }}</div>
    <div class="form-group mb-3">
      <textarea type="inputText"  [(ngModel)]="inputText" class="form-control no-resize" rows="3" (input)="enableButton()" placeholder="Geben Sie Ihre Nachricht hier ein"></textarea>
    </div>
    <button id="submitButton" class="btn btn-primary btn-block mt-3 text-center" (click)="sendMessage()" [disabled]="!inputText">Senden</button>
    
  </div>
  