.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

#inputText {
  width: 100%;
  margin-bottom: 10px; /* Abstand unterhalb des Textareas */
}

#inputText:hover {
  border: 1px solid #097533; /* Nice Effekt */
  transition: border 0.3s;
}

#submitButton {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #043929;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.no-resize {
  resize: none; /* Dieser Stil verhindert die Grössenänderung des Textareas */
}
